.about {
  background-color: white;
  padding: 132px 0;
}

.about > div {
  display: flex;
  flex-wrap: wrap;

  gap: 4rem;
}

.about span {
  color: #1c1f35;
}

.about h2 {
  color: #1c1f35;
  font-weight: 500;
  font-size: 40px;
}

.about :global(.highlighted) {
  background-color: rgba(232, 232, 232, 0.5);
}
.grid {
  display: grid;
  color: #666c89;
  grid-template-columns: 1fr 1fr;
  flex: 60%;
  flex-grow: 1;
}
.grid h4 {
  color: #1c1f35;
}
.content {
  flex-basis: 30%;
  flex-grow: 1;
}

.reach li img {
  margin-right: auto;
}
