.topNav {
  min-height: 160px;
  background: #091242;

  display: flex;
  align-items: center;

  color: white;
  padding: 1.5rem 0;
}

ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 2.4rem;
}

ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

li.logo {
  margin-right: auto;
}
