/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.whyus :global(.highlighted) {
  background-color: rgba(232, 232, 232, 0.5);
}

.whyus .overview {
  display: flex;
}

.whyus {
  position: relative;
  padding-bottom: 180px;
}
.transport h2 {
  margin-top: 40px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 40px;
}

.whyus::after {
  content: "";
  display: block;
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;

  background: linear-gradient(
    95deg,
    #ffb629 -1.19%,
    #ffda56 57.78%,
    #ffd7a6 115.08%
  );
}

.whatWeProvide {
  position: relative;
  background-color: white;
  top: -150px;
  margin-bottom: -150px;
  padding: 7%;
}
.whyus button {
  background: #091242;
  color: white;
  margin: auto;
  display: block;
  margin-top: 65px;
}
.whyus button::after {
  background: #1f2a69;
}

/* .container p {
  position: relative;
  color: #666c89;
  line-height: 24px;
}
.container h2 {
  font-weight: 600px;
  font-size: 75px;
  color: #1c1f35;
} */
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin: 1rem 0;
}
.logo span {
  color: #1c1f35;
  font-weight: 200px;
  font-size: 25px;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 30px;
  margin-top: 20px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.summary h2 {
  font-weight: 600px;
  font-size: 50px;
}

.summary span {
  color: #1c1f35;
  font-weight: 400px;
  font-size: 20px;
}

.transport {
  color: #1c1f35;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  display: flex;
  gap: 15px;
  /* flex-wrap: wrap; */
}

.images figure {
  flex-basis: 343px;
  flex-shrink: 1;
  margin: 0;
  position: relative;
}

.images figure::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%);
  background-blend-mode: multiply;
}

.images figure img {
  width: 100%;
}

.images figcaption {
  position: absolute;
  bottom: 0;
  margin: 5px;
  color: #ffffff;
  gap: 0;
  padding: 10px;
}
.images figcaption p {
  color: #ffb629;
}

.figcaption p {
  color: #ffb629;
}

.dot {
  background-color: #091242;
}

/* .images h4 {
  display: block;
  min-height: 24px;
  align-items: center;
  width: 197px;
  line-height: 24px;
  color: green;
} */
