body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
}

.container {
  padding-left: clamp(0.5rem, 3vw, 10rem);
  padding-right: clamp(0.5rem, 3vw, 10rem);
  max-width: clamp(800px, 90%, 1400px);
  margin: auto;

  flex: 1;
}

ul {
  list-style: none;
}
